# ignore original [.mat] datasets file for sync on Github
*.mat
# too large data file.
*.txt
*.pkl

# ignore python cache file
*.pyc*
*.swp

# ignore TensorBoard graph
*sEMGCNN*

# ignore test files
test*

# ignore graph with TensorBoard
graph*
